.table {
	position: relative;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	overflow: auto;
	background: #fff;
	border-radius: 10px;

	&__body {
		display: table;
		min-width: 100%;
	}

	&__inner {
		flex-grow: 1;
		border-top-right-radius: 10px;
	}

	&__text,
	&__link span {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.table__inner {
		.table__col {
			&:last-child {
				border-right: none;
			}
		}
	}

	&__row {
		position: relative;
		display: table-row;
	}

	&__col {
		position: relative;
		box-sizing: border-box;
		display: table-cell;
		min-width: 40px;
		height: 50px;
		padding: 0;
		font-size: 14px;
		font-weight: 400;
		font-variant-numeric: tabular-nums;
		line-height: 14px;
		vertical-align: middle;
		color: #000;
		text-align: right;
		white-space: nowrap;
		border-right: 1px dashed #000;

		&._content {
			padding: 0 5px;
			overflow: hidden;

			.table__content,
			.table__value-wrap {
				height: 100%;
			}

			.table__value-wrap {
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
		}

		&._header {
			position: relative;
			padding: 18px 10px;
			font-size: 14px;
			font-weight: 500;
			color: #000;
			user-select: none;
			background: linear-gradient(180deg, #FCFDFF 0%, #EDEDED 100%);

			.table__content {
				justify-content: flex-start;
			}
		}
	}

	&__col_value-wrap {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__col_value:not(.table__col_header) {
		font-size: 14px;
		font-weight: 400;
		font-variant-numeric: lining-nums tabular-nums;
		line-height: 1.25;
		color: #000;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 14px;

		a {
			display: flex;
			gap: 10px;
			align-items: center;
		}

		.table__cell-value {
			&._current {
				color: #545454;
			}

			&._new {
				color: green;
			}

			&._old {
				color: red;
			}
		}
	}

	&__col_color {
		background: #ed806f;
		color: #fff;
	}

	&__empty {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		color: #000;
	}
}