.table {
   position: relative;

   display: flex;

   box-sizing: border-box;

   width: 100%;
   overflow: hidden;

	background: #ffffff;
   border-radius: 10px;
   &:before {
	   content: '';
	   position: absolute;
	   top: 0;
	   right: 0;
	   z-index: 2;

	   width: 50px;
	   height: 50px;

	   background: linear-gradient(to right, transparent, #000000);

	   opacity: 0;
	   transition: 115ms linear;

	   pointer-events: none;
   }

   &:after {
	   content: '';
	   position: absolute;
	   top: 50px;
	   right: 0;
	   z-index: 2;

	   width: 50px;
	   height: calc(100% - 50px);

	   background: linear-gradient(to right, rgba(255,255,255,0), #fff);

	   opacity: 0;
	   transition: 115ms linear;

	   pointer-events: none;
   }

   &__body {
	   display: table;

	   min-width: 100%;
   }

   &__inner {
	   flex-grow: 1;

	   border-top-right-radius: 10px;
   }

   &__text,
   &__link span {
	   max-width: 100%;
	   overflow: hidden;

	   white-space: nowrap;
	   text-overflow: ellipsis;
   }

   .table__inner {
	   .table__col {
		   &:last-child {
			   border-right: none;
		   }
	   }
   }

   // Row
   &__row {
	   position: relative;

	   display: table-row;
   }

   // Column
   &__col {
	   position: relative;

	   display: table-cell;

	   box-sizing: border-box;

	   min-width: 40px;
	   height: 50px;
	   padding: 0;

	   font-size: 14px;
	   line-height: 14px;
	   font-weight: 400;
	   text-align: right;
	   vertical-align: middle;
	   color: #000000;
	   white-space: nowrap;

	   border-right: 1px dashed #000000;
	   font-variant-numeric: tabular-nums;

	   &._content {
		   overflow: hidden;

		   .table__content,
		   .table__value-wrap {
			   position: absolute;
			   top: 0;
			   right: 10px;

			   height: 100%;
		   }

		   .table__value-wrap {
			   display: flex;
			   justify-content: flex-end;
			   align-items: center;
		   }
	   }

	   &._header {
		   position: relative;

		   padding: 18px 10px 18px 10px;

		   font-size: 14px;
		   font-weight: 500;
		   color: #000000;

		   background: linear-gradient(180deg, #FCFDFF 0%, #EDEDED 100%);

		   user-select: none;

		   .table__content {
			   position: absolute;
			   top: 18px;
			   z-index: 0;

			   justify-content: flex-start;
		   }
	   }
   }

   &__col_value-wrap {
	   display: flex;
	   justify-content: flex-end;
	   align-items: center;
   }

   &__col_value:not(.table__col_header) {
	   font-size: 14px;
	   line-height: 1.25;
	   font-weight: 400;
	   color: #000000;
	   font-variant-numeric: lining-nums tabular-nums;
   }

   &__content {
	   display: flex;
	   justify-content: flex-end;
	   align-items: center;

	   height: 14px;

	   a {
		   display: flex;
		   align-items: center;
		   gap: 10px;
	   }
   }

   &__col_color {
	   color: #ffffff;

	   background: #ed806f;
   }
}